body {
	margin: 0;
	padding: 0;
	font-family: Arial;
	font-size: 1.1vw;
	color: #454545;
}
.hidden {
	display: none;
}
.container {
	width: 95vw;
	margin: 0 auto;
}
.row {
	margin: 10px 0;
}

.center {
	text-align: center;
}

.table_container {
	border: 1px solid #c5c5c5;
	width: 95vw;
	height: calc(95vw * 0.3);
	margin: 0 auto;
	position: relative;
}

.item {
	position: absolute;
	border: 1px solid #c5c5c5;
}
.item.stage {
	text-align: center;
	background: #f6f6f6;
	font-weight: bold;
}
.item.game {

}
.item.game .player {
	height: 50%;
}
.item.game .player .name {
	width: 80%;
	display: inline-block;
}
.item.game .player .goals {
	width: 20%;
	display: inline-block;
	text-align: center;
}
.item.game.is_in_play {
	cursor: pointer;
	background: #efe;
}
.item.game.is_played {
	background: #fee;
}
.item.game.is_one_team {
	background: #ffe;
}

.player_input {
	width: 35%;
}
.player_label {
	display: inline-block;
	width: 60%;
}

table.ui-widget {
	border-collapse: collapse;
	border: 1px solid #c5c5c5;
}
table.ui-widget td {
	border: 1px solid #c5c5c5;
	padding: 0.2vw;
}
table.ui-widget .ui-widget-header {
	background: #f6f6f6;
}


