<!DOCTYPE html>
<html lang="ru">
<head>
   <meta charset="utf-8">
   <title>Турнирная таблица</title>
   <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
   <link rel="stylesheet" href="css/style.css">
   <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
   <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
   <script src="js/script.js"></script>
</head>
<body>
   <div class="container">
      <div class="row">
         <p>
            Для начала турнира проведите жеребьевку, затем фиксируйте результаты каждой игры <i>(клик на "зелененьком")</i>.
         </p>
      </div>
      <div class="row">
         <button id="toss" class="ui-button ui-widget">Жеребьевка</button>
      </div>
      <div id="table" class="row table_container">
         {stages_block}
         {games_block}
      </div>
      <div id="total_table" class="row">
         {total_table_block}
      </div>
   </div>
</body>
</html>